.chatbot-container.visible {
  width: 370px;
  height: 500px;
  z-index: 2;
  ::-webkit-scrollbar{
    display: none;
  }
}

.chatbot-container.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

.chatbot-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 300px; /* Set the initial width */
  height: 400px; /* Set the initial height */
  overflow: auto;
  ::-webkit-scrollbar{
    display: none;
  }
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 2;
}